google-chrome.deb filter=lfs diff=lfs merge=lfs -text

# Arquivos binários grandes para serem ignorados no diff
*.pack binary
*.pack filter=lfs diff=lfs merge=lfs -text
*.zip binary
*.gz binary
*.tar binary
*.jar binary

# Arquivos de cache Next.js para serem tratados como binários
.next/cache/** binary
.next/cache/webpack/** binary
.next/cache/webpack/client-production/** binary
.next/cache/webpack/server-production/** binary

# Tratar outros arquivos de build como binários
out/** binary
build/** binary
dist/** binary
