# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Adicionado para ignorar a saída de build e cache do Next.js
.next/
.next/cache/
.next/cache/**
.next/trace
.next/static/chunks/pages
.next/static/development
.next/server/pages
.next/server/chunks
.next/static/development
.next/*.pack
.next/cache/webpack/
.next/cache/webpack/**
*.pack

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ensure Lovable uploads are tracked
!public/lovable-uploads/**
!public/lovable-uploads/**
